@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.Section6 h1 {
  font-family: "Poppins", sans-serif;
  color: #f9bb44;
  text-shadow: -0.5px 1px 3px #ccc;
  font-weight: 600;
}
.Section6 {
  margin-top: 30px;
  margin-bottom: 30px;
}
