.Headerbox {
  display: flex;
  z-index: 2;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid white;
  background-color: #333333;
  overflow-x: hidden;
  /* height: 100px; */
  align-items: start;
}
.Headerbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;

  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: 1s;
}
.Headerbox:hover::before {
  left: 100%;
}
.backgroundbox img {
  height: 734px;
  width: 100%;
}
.backgroundbox {
  border-bottom: 1.5px solid #333333;
}
.items {
  position: absolute;
  top: 220px;
  text-align: center;
  width: 50%;
  margin: auto;
}
.Headerlogo {
  width: 20%;
  display: flex;
  align-items: center;
  padding-top: 8px;
}
.Headerlogo > * {
  margin: auto;
  color: white;
  font-size: 20px;
}
.navbar {
  width: 100%;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar ul li > * {
  display: inline;
  padding: 0px 30px 0 30px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.navbar ul li > *:hover {
  color: #f9bb44;
  cursor: default;
}
.items p {
  width: 60%;
  margin: auto;
}
.explore {
  border: 1px solid white;
  width: 120px !important;
  background-color: rgba(235, 252, 249, 0.35);
  height: 35px;
  padding: 5px;
  border-radius: 7px;
}
.explore:hover {
  transform: scale(1.1) !important;
  transition: 0.5s;
  cursor: pointer;
}
.explore:active {
  transform: scale(0.9) !important;
  transition: 0.5s;
}
@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-from-bottom {
  color: white;
  animation: slideInFromBottom 1s ease-out;
}
.Homebox,
.FAQbox,
.Puppycarebox,
.Contactbox {
  background-color: rgb(244, 232, 209);
}

.kenburns-top-right {
  -webkit-animation: kenburns-top-right 15s ease-out both infinite;
  animation: kenburns-top-right 15s ease-out both infinite;
}
@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  50% {
    -webkit-transform: scale(1.3) translate(10px, -8px);
    transform: scale(1.3) translate(10px, -8px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
  100% {
    -webkit-transform: scale(1.25) translate(15px, -15px);
    transform: scale(1.25) translate(10px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}
@keyframes kenburns-top-right {
  0%,
  100% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 50% 84%;
  }

  50% {
    -webkit-transform: scale(1.1) translate(10px, -15px);
    transform: scale(1.1) translate(10px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: bottom;
  }
}
.scroll-top-btn {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: none; /* Ẩn ban đầu */
  background-color: #f9bb44;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 18px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0px 0px 5px #333333;
}

.scroll-top-btn:hover {
  background-color: #c58c24;
}
.arrowtop {
  color: rgb(24, 20, 255) !important;
  height: 40px;
  filter: drop-shadow(1px 1px 1px #ffffff);
}
.faqrandomname {
  margin-top: 50px;
}
#drop-menu {
  z-index: 9999;
  position: absolute;
  top: 100%;
  left: 0;
}
.drop-item-1 {
  color: #333333;
  font-weight: 600;
  height: fit-content;
  padding: 0;
  margin: 0;
  width: fit-content;
}
#dropdown-split-basic {
  background-color: #f9bb44;
  color: black;
  width: min-content;
}
.error-text {
  color: red;
  font-size: 18px;
}
.notfound-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f7f7f7;
}
.notfound-box iframe {
  width: 950px;
  height: 600px;
  pointer-events: none;
}
